{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center">Portfolio Enzo Pellegrino @Hypno</h1>
<main>
    <div class="presentation vh-100 bg-presentation">

    <h2 class="h1 text-center">Présentation et aperçu creation</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dignissimos doloremque fuga, id incidunt inventore minima nihil porro possimus quidem quisquam quod reiciendis suscipit? Ad autem, consequatur cupiditate dicta dignissimos doloremque eius excepturi fugiat ipsa iusto nam nisi optio pariatur praesentium repellendus reprehenderit, tempora unde. Dolore ea ex exercitationem, impedit laborum necessitatibus nulla officia officiis ratione repellendus. Ab accusantium alias aliquam animi aut consequatur corporis cum deserunt dignissimos doloremque eaque eligendi eos, exercitationem explicabo inventore molestiae nobis non nostrum officia optio quas quia quisquam ratione repellat rerum vitae voluptate voluptates. Alias asperiores culpa debitis fuga magnam nesciunt quibusdam quis quo tempore totam? Accusantium dignissimos distinctio dolores eaque earum eligendi est eveniet excepturi fuga illo illum ipsa iusto laboriosam nobis obcaecati pariatur perferendis placeat porro qui quibusdam, recusandae repellat reprehenderit similique soluta tempora tempore tenetur unde ut voluptatem voluptatum. Ab consequatur delectus eaque exercitationem expedita laboriosam mollitia natus nemo nostrum quisquam. Alias aliquid architecto asperiores assumenda aut blanditiis ea earum, enim eum ex expedita, iste itaque molestias quidem rerum, sequi soluta totam? Distinctio, rem sed. Doloremque error quasi reiciendis veniam. Ad, autem doloremque earum est expedita facere facilis hic ipsum magni numquam obcaecati omnis optio pariatur, perferendis, quam quas recusandae voluptas.
    </p>
    </div>
    <div class="langage-info vh-100">

        <h2 class="h1 text-center">langage informatique pratiquer</h2>
        <p>
            icone language info
        </p>
    </div>
    <div class="mot-de-fin vh-100">
        <h2 class="h1 text-center">le mot de la fin</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex excepturi exercitationem fugiat ipsam iure molestiae numquam quibusdam ratione sequi velit! Adipisci aut ipsam maxime odit quasi, qui sapiente voluptate? A ab aperiam aut beatae distinctio dolor doloremque est eveniet ipsa, minima natus necessitatibus nisi nobis optio perferendis quisquam recusandae repellendus veritatis vitae voluptate? Accusamus adipisci at dolor ducimus excepturi ratione! Blanditiis, cupiditate delectus dolor enim, ex harum incidunt ipsum molestiae nostrum officia perspiciatis, porro rem repellendus repudiandae sapiente! Explicabo harum illo labore optio quam sequi suscipit vitae! Assumenda debitis dignissimos error optio, provident qui, saepe sapiente sed soluta suscipit voluptates!</p>
    </div>

</main>
{% endblock %}
