{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
        <div class="text-center my-5">
            <h1 class="m-auto bg-white text-black d-inline-block fw-bolder">Portfolio Enzo Pellegrino @Hypno</h1>
        </div>

        <main>
            <div class="presentation vh-100">
                <div class="text-center my-5">
                    <div>
                        <p class="fw-bolder fs-4 d-inline-block bg-white text-black">
                            Bonjour, Je m'appelle Enzo et je suis développeur web Junior.
                        </p>
                        <p class="fw-bolder fs-4 d-inline-block bg-white text-black">
                            Passionné, autodidacte et rigoureux, j’effectue une veille permanente sur les nouvelles technologies et m’intéresse aux nouvelles façons de programmer.

                        </p>
                    </div>
                    <div>
                        <p class="fw-bolder fs-4 d-inline-block bg-white text-black">
                            Sur ce site confectionner par mes soins vous aurez un aperçu de mes réalisations, un lien vers mon
                            <a href="https://github.com/Hypnololz">GitHub</a>  ainsi qu'un espace pour m'envoyer un message.
                        </p>
                    </div>


                    <div>
                        <p class="fw-bolder fs-4 d-inline-block bg-white text-black">
                            Voici quelques une de mes réalisation
                        </p>
                    </div>
                </div>


                <div class="container-fluid mb-1">
                    <div class="row">
                        <div class="card m-auto" style="width: 18rem;">
                            <img src="{{ asset('img/images.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-black">Card title</h5>
                                <p class="card-text text-black">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card m-auto" style="width: 18rem;">
                            <img src="{{ asset('img/images.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-black">Card title</h5>
                                <p class="card-text text-black">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card m-auto" style="width: 18rem;">
                            <img src="{{ asset('img/images.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-black">Card title</h5>
                                <p class="card-text text-black">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="CV vh-100 bg-white w-100">
                <div class="text-center pt-5 ">
                    <h2 class="h1 text-center bg-black d-inline ">Curriculum Vitae</h2>
                </div>

                <p>
                    cv
                </p>
            </div>
            <div class="Langages vh-100">
                <h2 class="h1 text-center">Langages informatique </h2>
            </div>

        </main>
    </div>

{% endblock %}
